<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>글 작성</h1>
  <h2 class="mt-2 text-center"><a href="/login">로그인 바로가기</a></h2>
  <h2 class="mt-2 text-center"><a href="/register">회원가입 바로가기</a></h2>
  <h2 class="mt-2 text-center"><a href="/dbBoard">게시판 바로가기</a></h2>
  <script>
    // console.log(document.cookie);
    // document.cookie = "user=kdt; expires=26 Nov 2023 13:00:00 GMT; path=/";
    // document.cookie = "test=test1; expires=26 Nov 2023 13:00:00 GMT; path=/";
    console.log(document.cookie);
  </script>
</body>

</html>